* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  min-height: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
figure {
  margin: 0;
}

img,
video {
  max-width: 100%;
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
